<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>
<!--    <link rel='stylesheet' media='screen' href='/css/bootstrap.min.css'>-->
<!--    <script type='text/javascript' src='/js/bootstrap.min.js'></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Books</h5>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">year</th>
                <th scope="col">Details</th>
            </tr>
        </thead>

        <tbody th:each="book: ${books}">
            <tr>
                <td th:text="${book.title}"/>
                <td th:text="${book.description}"/>
                <td th:text="${book.year}"/>
                <td>
                    <div class="row">
                        <div class="col-6">
                            <a th:href="@{'/book-details/' + ${book.id}}">Details</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-6">
                            <form method="post" th:action="@{/delete-book}" th:object="${book}">
                                <input type="hidden" th:value="*{id}" id="id" name="id"/>
                                <input class="btn btn-danger btn-sm" type="submit" value="delete">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/save-book">Add new book</a>
</div>
</body>
</html>